name: Build APK

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      - name: Install Android NDK
        run: sdkmanager "ndk;27.0.12077973"

      - name: Build debug APK
        run: chmod +x ./gradlew && ./gradlew assembleNonRootDebug

      - name: Build release APK
        run: ./gradlew assembleNonRootRelease

      - name: Upload debug APK
        uses: actions/upload-artifact@v4
        with:
          name: moonlight-remote-debug
          path: app/build/outputs/apk/nonRoot/debug/*.apk

      - name: Upload release APK
        uses: actions/upload-artifact@v4
        with:
          name: moonlight-remote-release
          path: app/build/outputs/apk/nonRoot/release/*.apk
